mixin footer()
	+b.SECTION.footer
		+b.DIV.container
			+b.P.copyright &copy; Copyright @Junaed 2016, All rights reserved.
			+b.DIV.social-block
				+e.A(href="#").link: +e.I.icon.icon-twitter
				+e.A(href="#").link: +e.I.icon.icon-linkedin
				+e.A(href="#").link: +e.I.icon.icon-gplus
				+e.A(href="#").link: +e.I.icon.icon-facebook