.left-sidebar__form
   include ../../../bricks/form/form
.left-sidebar__annotation
   h2.left-sidebar__headline Headline
   p.left-sidebar__lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
   a(href="#").left-sidebar__link More about
