.Page {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f5f3;
}

.Container {
  width: 1000px;
  margin: 0 auto;
}

.Header {
  position: relative;
  z-index: 100;
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.Header-Inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.Logo {
  font-size: 120%;
  text-decoration: none;
  color: #000;
}

.Logo-Icon {
  display: inline-block;
  width: 50px;
  height: 42px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(i/logo.svg) no-repeat;
}

.Input {
  width: 350px;
  height: 38px;
  padding: 0 8px;
  font-size: 15px;
  line-height: 38px;
  border: 2px solid #e8e8e8;
  -webkit-appearance: none;
}

.Button {
  padding: 0 12px;
  font-size: 15px;
  line-height: 38px;
  color: #202020;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #e8e8e8;
}

.Search-Button {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
}

.Avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.Nav {
  position: relative;
  z-index: 10;
  margin-bottom: 14px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);
}

.Nav-List {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.Nav-Item {
  font-size: 13px;
  line-height: 50px;
  text-decoration: none;
  color: gray;
}

.Nav-Item:hover {
  color: red;
}

.Promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.Main {
  background: #f8f8f8;
}

.Main-Inner {
  padding: 30px 0 10px;
}

.Heading {
  margin: 0 0 12px;
  font-weight: 500;
}

.Goods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.Snippet {
  width: 200px;
  margin-bottom: 17px;
  padding: 17px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
}

.Snippet-Headline {
  position: relative;
  padding-bottom: 15px;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #404040;
}

.Snippet-Headline:after {
  position: absolute;
  bottom: 5px;
  left: 17px;
  width: -webkit-calc(100% - 34px);
  width: calc(100% - 34px);
  content: "";
  border-bottom: 1px solid #f0f0f0;
}

.Snippet-Image {
  margin-bottom: 17px;
}

.Snippet-Category {
  display: block;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
  color: #7f7f7f;
}

.Snippet-Category:hover {
  color: red;
}

.Snippet-Title {
  display: block;
  overflow: hidden;
  max-width: 80%;
  margin: auto;
  font-size: 15px;
  line-height: 1.4em;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  text-decoration: none;
}

.Snippet:hover .Snippet-Title {
  color: red;
}

.Snippet-Price {
  position: relative;
  margin-top: 17px;
  padding-top: 17px;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
}

.Snippet-Price:before {
  position: absolute;
  top: 0;
  left: 17px;
  width: -webkit-calc(100% - 34px);
  width: calc(100% - 34px);
  content: "";
  border-top: 1px solid #f0f0f0;
}

.More {
  display: block;
  width: 100%;
  font: inherit;
  line-height: 60px;
  text-align: center;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #ffdb4d;
  -webkit-appearance: none;
}

.Subscribe {
  margin-bottom: 14px;
  padding: 14px 0;
  line-height: 34px;
  background: #e4eeff;
}

.History-List {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SmallSnippet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 242px;
  height: 115px;
  font-size: 13px;
  text-decoration: none;
  color: #669;
  background: #fff;
}

.SmallSnippet-Cell {
  padding-left: 12px;
}

.SmallSnippet-Price {
  display: block;
  font-weight: bold;
  color: #000;
}

.Footer {
  margin-top: 50px;
  padding: 12px 0;
  font-size: 13px;
  border-top: 1px solid #ccc;
}

.Footer-Inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Footer .Link {
  text-decoration: none;
  color: #8792a8;
}
