/* =========================== */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

body, ul, li, p, h1, h2, h3, a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

@font-face {
  font-family: "LB";
  src: url("../fonts/Lobster/Lobster1.4.ttf") format("truetype");
}

@font-face {
  font-family: "BN";
  src: url("../fonts/BebasNeue/BebasNeue.ttf") format("truetype");
}

@font-face {
  font-family: "HB";
  src: url("../fonts/Helvetica/Helvetica CE Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HR";
  src: url("../fonts/Helvetica/Helvetica CE Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HNR";
  src: url("../fonts/Helvetica/HelveticaNeueLT Roman.ttf") format("truetype");
}

html {
  font-size: 100%;
}

.clearfix::after,
.upload::after,
.description::after,
.share::after,
.form_mod::after {
  content: "";
  display: table;
  clear: both;
}

.page {
  width: 100%;
  font-size: 1rem;
}

.row {
  max-width: 1280px;
  margin: 0 auto;
}

.flexDirectionCol {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexWrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flexAiC {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexJcSb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  width: 77%;
  margin: 32px auto;
  text-align: right;
}

.footer__text {
  padding-right: 12px;
  color: #8B8A8A;
  font-size: 1.21rem;
}

.frame {
  position: relative;
}

.frame__overlay {
  display: none;
  position: absolute;
  text-align: center;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.3);
}

.frame:hover .frame__overlay {
  display: block;
  cursor: pointer;
}

.frame__magnifier {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.frame__picture {
  display: block;
  width: 100%;
  height: 100%;
}

.frame__date {
  position: absolute;
  font-family: 'BN';
  font-size: 1.1875rem;
  color: #FFF;
  left: 2.6%;
  bottom: 0;
}

.gallery {
  width: 77%;
  margin-top: 3.2%;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share {
  padding-right: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.share__text {
  display: inline-block;
  float: left;
  margin-right: 7px;
  color: #979393;
}

.share__sicial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share__link {
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  margin-left: 5px;
  width: 22px;
  height: 22px;
  line-height: 23px;
  background-color: #b1aeae;
  -webkit-box-shadow: inset 1.5px 0.9px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1.5px 0.9px 2px rgba(0, 0, 0, 0.3);
  color: #FFF;
}

.share__link:hover {
  background-color: #283e8f;
}

.slide {
  margin-bottom: 1.85rem;
  width: 22.15%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-10%, #000), color-stop(3%, #fff));
  background-image: -webkit-linear-gradient(bottom, #000 -10%, #fff 3%);
  background-image: -o-linear-gradient(bottom, #000 -10%, #fff 3%);
  background-image: linear-gradient(to top, #000 -10%, #fff 3%);
  border: 1px solid rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  padding: 7px;
}

.header {
  margin: auto;
}

.header_mod {
  max-height: 118px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(white));
  background-image: -webkit-linear-gradient(bottom, #e0e0e0 0%, white 100%);
  background-image: -o-linear-gradient(bottom, #e0e0e0 0%, white 100%);
  background-image: linear-gradient(to top, #e0e0e0 0%, white 100%);
}

.form_mod {
  margin: 0 auto;
  max-width: 55.8%;
}

.FileUpload {
  position: relative;
  cursor: pointer;
  float: left;
}

.FileUpload_mod {
  padding: 8px;
  margin-right: 14px;
  width: 67%;
  height: 49px;
  border: 1px solid #cacaca;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(85%, white), color-stop(90%, white), to(#e2dada));
  background-image: -webkit-linear-gradient(bottom, white 0%, white 85%, white 90%, #e2dada 100%);
  background-image: -o-linear-gradient(bottom, white 0%, white 85%, white 90%, #e2dada 100%);
  background-image: linear-gradient(to top, white 0%, white 85%, white 90%, #e2dada 100%);
}

.FileUpload__file {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.FileUpload__botton {
  font-family: 'HNR';
  font-size: 117%;
  background: #C1BFBF;
  color: #FFF;
  padding: 5px 16px;
  float: right;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.SubmitBotton {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f60), to(#ffa400));
  background-image: -webkit-linear-gradient(bottom, #f60 0%, #ffa400 100%);
  background-image: -o-linear-gradient(bottom, #f60 0%, #ffa400 100%);
  background-image: linear-gradient(to top, #f60 0%, #ffa400 100%);
  color: #FFF;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'HB';
  font-size: 142%;
  padding: 8px 23px;
}

.SubmitBotton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f60), to(#ffa400));
  background-image: -webkit-linear-gradient(#f60 0%, #ffa400 100%);
  background-image: -o-linear-gradient(#f60 0%, #ffa400 100%);
  background-image: linear-gradient(#f60 0%, #ffa400 100%);
}

.upload {
  margin: auto;
  padding: 2.7% 0;
}

.upload__p {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.upload__p_mod {
  color: #565555;
  font-family: 'HB';
  font-size: 168%;
  margin-right: 7%;
  letter-spacing: 0.55px;
  margin-bottom: 21px;
}

.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  margin-top: 0px;
  border-bottom: 1px solid #e0dfdf;
}

.description__text {
  display: inline-block;
  line-height: 2.3;
  margin-left: 5px;
  color: #979393;
}

.icon-star-circled {
  color: #ff8500;
  font-size: 130%;
  margin-top: 5px;
  margin-left: 17px;
}

.icon-star-circled:hover {
  cursor: pointer;
}

.logo {
  text-align: center;
}

.logo_PosAsize {
  font-size: 306%;
  margin-left: 12.35%;
}

.logo__link_mod {
  font-family: LB;
  color: #676666;
}

.logo__part_mod {
  color: #F70;
}

.menu_PosAsize {
  margin-right: 14.65%;
  max-width: 401px;
}

.list {
  list-style: none;
}

.list_mod {
  font-family: NR;
}

.list__item_mod {
  font-size: 100%;
}

.list__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.list__link_mod {
  background-position: center 44%;
  background-repeat: no-repeat;
  height: 118px;
  width: 108px;
  text-align: center;
  font-family: "HR";
  padding-top: 73px;
  color: #545454;
}

.list__link_mod:hover {
  border: 0 1px 0 1px solid #e3e3e3;
  border-bottom: 5px solid #ff7d00;
}

.list__link_gallery {
  background-image: url("../images/icon/ico-gallery.png");
}

.list__link_gallery:hover {
  background-image: url("../images/icon/ico-gallery.png"), -webkit-gradient(linear, left bottom, left top, from(#c9c0c0), to(white));
  background-image: url("../images/icon/ico-gallery.png"), -webkit-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-gallery.png"), -o-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-gallery.png"), linear-gradient(to top, #c9c0c0 0%, white 100%);
}

.list__link_home {
  background-image: url("../images/icon/ico-home.png");
}

.list__link_home:hover {
  background-image: url("../images/icon/ico-home.png"), -webkit-gradient(linear, left bottom, left top, from(#c9c0c0), to(white));
  background-image: url("../images/icon/ico-home.png"), -webkit-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-home.png"), -o-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-home.png"), linear-gradient(to top, #c9c0c0 0%, white 100%);
}

.list__link_logout {
  background-image: url("../images/icon/ico-logout.png");
}

.list__link_logout:hover {
  background-image: url("../images/icon/ico-logout.png"), -webkit-gradient(linear, left bottom, left top, from(#c9c0c0), to(white));
  background-image: url("../images/icon/ico-logout.png"), -webkit-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-logout.png"), -o-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-logout.png"), linear-gradient(to top, #c9c0c0 0%, white 100%);
}

.list__link_members {
  background-image: url("../images/icon/ico-members.png");
}

.list__link_members:hover {
  background-image: url("../images/icon/ico-members.png"), -webkit-gradient(linear, left bottom, left top, from(#c9c0c0), to(white));
  background-image: url("../images/icon/ico-members.png"), -webkit-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-members.png"), -o-linear-gradient(bottom, #c9c0c0 0%, white 100%);
  background-image: url("../images/icon/ico-members.png"), linear-gradient(to top, #c9c0c0 0%, white 100%);
}

@media only screen and (max-width: 1217px) {
  .description__text {
    line-height: 1.3;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1200px) {
  .form_mod {
    margin: 0 auto;
    max-width: 55.8%;
  }
  .upload {
    text-align: center;
  }
  .upload__p {
    display: inline-block;
  }
  .upload__p_mod {
    margin: 0 auto 21px;
  }
  .FileUpload_mod {
    margin: 0;
  }
  .SubmitBotton {
    padding: 13px 10px;
    font-size: 1.125rem;
    float: right;
  }
  [class*=" icon-"]:before,
  [class^=icon-]:before {
    font-size: 85%;
  }
  .icon-star-circled {
    margin-left: 0;
  }
  .share__link {
    width: 20px;
    height: 20px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 992px) {
  .SubmitBotton {
    padding: 8px 23px;
    font-size: 1.42rem;
  }
  .form_mod {
    margin: 0 auto;
    max-width: 80%;
  }
  .frame__date {
    font-size: 1rem;
  }
  .logo_PosAsize,
  .menu_PosAsize {
    margin: 0 auto;
  }
  .upload__p {
    font-size: 130%;
  }
  .description {
    line-height: 2;
  }
  .share__text {
    display: none;
  }
  .icon-star-circled {
    margin-top: 0;
  }
  .share__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    padding: 5px 0;
  }
  .share__link {
    margin: 0;
    width: 25px;
    height: 25px;
    line-height: 26px;
  }
  .share [class*=" icon-"]:before,
  .share [class^=icon-]:before {
    font-size: 100%;
  }
  .gallery,
  .footer {
    width: 90%;
  }
  .footer {
    margin: 15px auto;
  }
  .footer__text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 840px) {
  .logo_PosAsize {
    font-size: 260%;
  }
  .list__link_mod {
    height: 100px;
    width: 85px;
  }
  .FileUpload__botton {
    font-size: 100%;
  }
  .SubmitBotton {
    padding: 13px 10px;
    font-size: 1.125rem;
  }
  .gallery {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .slide {
    width: 30%;
  }
  .frame__date {
    font-size: 1.1875rem;
  }
  .share__text {
    display: inline-block;
    line-height: 2.1;
  }
  .description__text {
    font-size: 1rem;
  }
  .icon-star-circled {
    font-size: 170%;
  }
}

@media only screen and (max-width: 640px) {
  .header_mod {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 153px;
    padding-top: 15px;
  }
  .menu_PosAsize {
    width: 90%;
  }
  .list__item {
    width: 25%;
  }
  .list__link_mod {
    height: 65px;
    width: 100%;
    padding-top: 40px;
  }
  .slide {
    width: 45%;
  }
  .footer__text {
    text-align: center;
  }
}

@media only screen and (max-width: 580px) {
  .FileUpload_mod {
    height: 40px;
    padding: 5px;
    width: 65%;
  }
  .FileUpload__botton {
    font-size: 90%;
  }
  .SubmitBotton {
    font-size: 1rem;
    padding: 9px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .upload__p {
    font-size: 85%;
  }
  .FileUpload_mod {
    height: 35px;
    padding: 3px;
  }
  .SubmitBotton {
    font-size: 0.7rem;
  }
  .gallery {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .slide {
    width: 90%;
  }
  .footer__text {
    font-size: 0.8rem;
  }
}
