header.header
	.row
		.flex-container
			a.logo(href="#") Aditii
			.search
				form.search__form(name="search__form"  action="#" method="post" enctype="multipart/from-data")
					input.search__goods(type="text" name="search__goods")
					button.search__btn(type="button")
			a(href="#").basket
				img.basket__ico(src="assets/images/icon/ico-basket.png", alt="basket")
				p.basket__sum $300
