.direction__item
   h2.direction__headline Admin panel
   .direction__img
      img(src="assets/images/admin-panel.jpg", alt="#")
.direction__item
   h2.direction__headline Shortcodes
   .direction__img
      img(src="assets/images/shortcodes.jpg", alt="#")
.direction__item
   h2.direction__headline Videos
   .direction__img
      img(src="assets/images/videos.jpg", alt="#")
