.lists__type_circle
   h3.lists__name List style type circle 
      span.mnemonic &lt;ul&gt;
   ul.lists__ul
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Facilisis in pretium nisl aliquet
      li Nulla volutpat aliquam velit
         ul.lists__nested
            li Phasellus iaculis neque
            li Purus sodales ultricies
            li Vestibulum laoreet porttitor 
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
   
.lists__type_unstyled
   h3.lists__name Unstyled 
      span.mnemonic &lt;ul classs=&quot;unstyled&quot;&gt;
   ul.lists__unstyled
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Facilisis in pretium nisl aliquet
      li Nulla volutpat aliquam velit
         ul.lists__nested
            li Phasellus iaculis neque
            li Purus sodales ultricies
            li Vestibulum laoreet porttitor 
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
         
.lists__type_ordered
   h3.lists__name Ordered 
      span.mnemonic &lt;ol&gt;
   ol.lists__ol
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Facilisis in pretium nisl aliquet
      li Nulla volutpat aliquam velit
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
