.right-sidebar__topic.topic
   include topic
   
.right-sidebar__direction.direction
   include direction

.right-sidebar__lists.lists
   h1.lists__headline
      span.betony l
      |ists
   .lists__type
      include lists__type
      
.right-sidebar__table.table
   h1.table__headline
      span.betony t
      |able
   include ../../../bricks/table/table__value
