.topic {
   &__headline {
      margin-bottom: 6px;
   }
   &__lorem {
      font-size: 14px;
      color: #5c646e;
      line-height: 1.43;
      margin-bottom: 13px;
   }
   &__link {
      color: #95161f;
   }
}
