<section class="services">
  <div class="services__container container">
    <div class="services__row row">
      <div class="services__column column">
        <h2 class="services__title">do you know we can provide for you ? </h2>
        <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor
          incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor
          incididunt ut labore et.</p>
        <a class="services__btn btn btn_border" href="#">Learn More</a>
      </div>

      <div class="services__column column">
        <div class="services__item item-services">
          <img class="item-services__ico" src="./img/icons/01.svg" alt="ico" />
          <h3 class="item-services__title">Management </h3>
          <p class="item-services__text">Lorem ipsum dolor sitea amet, zixf conseit adipi cing elit, seddi do eiusmod
            btdempor in didunt utlae ore etioe.Lorem ipsum new idolor </p>
        </div>

        <div class="services__item item-services">
          <img class="item-services__ico" src="./img/icons/02.svg" alt="ico" />
          <h3 class="item-services__title">UI / UX Design </h3>
          <p class="item-services__text">Lorem ipsum dolor sitea amet, zixf conseit adipi cing elit, seddi do eiusmod
            btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet, </p>
        </div>

        <div class="services__item item-services">
          <img class="item-services__ico" src="./img/icons/03.svg" alt="ico" />
          <h3 class="item-services__title">Logo / Branding </h3>
          <p class="item-services__text">Lorem ipsum dolor sitea amet, zixf conseit adipi cing elit, seddi do eiusmod
            btdempor in didunt utlae ore etioeew idolor sit amet, </p>
        </div>

        <div class="services__item item-services">
          <img class="item-services__ico" src="./img/icons/04.svg" alt="ico" />
          <h3 class="item-services__title">Animation </h3>
          <p class="item-services__text">Lorem ipsum dolor sitea amet, zixf conseit adipi cing elit, seddi do eiusmod
            btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet, consect netur. </p>
        </div>
      </div>
    </div>
  </div>
</section>