* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  html.lock,
  body.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #024356;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}

.header__logo img {
  display: block;
  max-width: 100%;
}

@media (max-width: 767px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
            flex: 0 0 35px;
  }
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .burger::before,
  .burger span, .burger::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger::before {
    top: 0;
  }
  .burger span {
    top: 9px;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 9px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    bottom: 9px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .menu__list {
    display: block;
  }
}

.menu__item {
  list-style: none;
  margin: 0 0 0 20px;
}

@media (max-width: 767px) {
  .menu__item {
    margin: 0 0 20px 0;
  }
}

.menu__link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .menu__link {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #036a88;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu.active {
    top: 0;
  }
}

.content {
  padding-top: 100px;
}

.content__text {
  font-size: 18px;
  line-height: 1.2;
}

.content__text p {
  margin: 0 0 20px 0;
}

@media (max-width: 767px) {
  .content {
    padding: 60px 0 0 0;
  }
}
