/* =========================== */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body,
ul,
li,
p,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "LB";
  src: url("../fonts/Lobster1.4.ttf") format("truetype");
}

@font-face {
  font-family: "BN";
  src: url("../fonts/BebasNeue.ttf") format("truetype");
}

html {
  font-size: 100%;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  max-width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #FFF;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list,
.top-description,
.basket__sum,
.btn-navbar,
.featured-products__description,
.brand-slider__description {
  font-family: 'BN';
}

.row,
.sale,
.mens,
.women,
.links,
.copyright,
.top-description__text {
  font-family: 'Open Sans';
}

.row__title,
.sale__title,
.mens__title,
.women__title,
.links__title,
.copyright__title,
.top-description__text__title {
  font-family: 'BN';
}

.logo {
  font-family: 'LB';
}

.brand-btn {
  position: absolute;
  text-transform: uppercase;
}

.brand-btn:hover {
  text-shadow: 2px 2px 4px #000, 0 0 2em #fff;
  -webkit-box-shadow: 0px 0px 4px #000, 0px 0px 1em #fff;
          box-shadow: 0px 0px 4px #000, 0px 0px 1em #fff;
}

.brand-slider__item {
  height: 11.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.brand-slider__description {
  height: 100%;
  width: 30%;
  position: relative;
  padding-top: 3.25rem;
}

.brand-slider__title {
  font-size: 1.6875rem;
  color: #afafaf;
  line-height: 0.95;
}

.brand-slider__btn {
  bottom: 2.5625rem;
  left: 0px;
  font-size: 1.1875rem;
  padding: 0.25rem .875rem;
  background-color: #3cc395;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.copyright {
  background-color: #2DA89B;
  color: #fff;
}

.copyright__text {
  margin: auto;
  font-size: 0.9375rem;
  line-height: 3;
}

.featured-products {
  margin-top: 2.9375rem;
  margin-bottom: 1.75rem;
}

.featured-products__gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.25rem 0 0.8125rem;
}

.featured-products__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  width: 27.3%;
  border-bottom: 5px solid #3CC395;
  margin-bottom: 2.7375rem;
}

.featured-products__picture {
  min-height: 8.1875rem;
  margin-top: 1.4375rem;
}

.featured-products__picture img {
  width: 100%;
  height: 100%;
}

.featured-products__description {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 0;
}

.featured-products__title {
  font-size: 1.6875rem;
  color: #afafaf;
  line-height: 0.95;
  text-align: center;
  margin-top: 0.3125rem;
  margin-bottom: 0.75rem;
}

.featured-products__price {
  display: inline-block;
  color: #AFAFAF;
  font-size: 1.6875rem;
  margin-left: 4.25rem;
  margin-bottom: 1.6875rem;
}

.featured-products__btn {
  bottom: 1.875rem;
  right: 3.4375rem;
  font-size: 1.1875rem;
  padding: 0.3125rem 0.6875rem;
  background-color: #3cc395;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.row__title {
  background-color: #40c0b0;
  text-transform: uppercase;
  font-size: 1.9375rem;
  line-height: 2.2;
  color: #fff;
  padding: 0 11.5625rem;
}

.footer {
  background-color: #3CC3B5;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sale,
.mens,
.women,
.links {
  color: #FFF;
  width: 25%;
  padding-left: 2rem;
  margin-bottom: 2.125rem;
}

.sale__title,
.mens__title,
.women__title,
.links__title {
  text-transform: uppercase;
  font-size: 1.6875rem;
  line-height: 2;
  margin: 1.5875rem 0 0rem;
}

.sale__link,
.mens__link,
.women__link,
.links__link {
  font-size: .9375rem;
  display: block;
  line-height: 1.9;
}

.sale__link:hover,
.mens__link:hover,
.women__link:hover,
.links__link:hover {
  text-decoration: underline;
}

.basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 6.875rem;
      -ms-flex-preferred-size: 6.875rem;
          flex-basis: 6.875rem;
}

.basket:hover {
  text-shadow: 1px 1px 2px #000, 0 0 1em  #3CC3B5;
}

.basket__sum {
  font-size: 2.0625rem;
  color: #A1A1A1;
  margin-left: 0.875rem;
}

.header {
  max-height: 5.125rem;
  line-height: 1.7;
}

.logo {
  font-size: 3.0625rem;
  color: #3CC3B5;
  -webkit-flex-basis: 6.875rem;
      -ms-flex-preferred-size: 6.875rem;
          flex-basis: 6.875rem;
}

.logo:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em  #3CC3B5;
  outline-color: none;
}

.search__form {
  position: relative;
  width: 28.3125rem;
}

.search__goods {
  padding-right: 2.35rem;
  height: 2.1rem;
  width: 100%;
  line-height: 2.1;
  font-size: 1.2rem;
  outline-color: #41C2B5;
}

.search__goods:focus {
  border: #41C2B5;
}

.search__btn {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 2.3rem;
  border: none;
  cursor: pointer;
  background: url(../images/icon/ico-magnifier.png) no-repeat center center;
}

.search__btn:hover, .search__btn:focus {
  -webkit-box-shadow: 0px 0px 5px 1px #41c2b5;
          box-shadow: 0px 0px 5px 1px #41c2b5;
}

.top-menu {
  background-color: #4CCFC1;
}

.top-carousel {
  background-color: #3bc7b8;
}

.top-slider__item {
  width: 68%;
  height: 27.8125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  display: flex;
}

.top-slider__picture {
  width: 43.6%;
  height: 100%;
  background-position: center left;
  background-repeat: no-repeat;
}

.top-slider .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.top-slider .owl-dot {
  display: inline-block;
  margin: 0 0.40625rem;
}

.top-slider .owl-dot span {
  display: block;
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: white;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.top-slider .owl-dot.active span,
.top-slider .owl-dot:hover span {
  opacity: 0.51;
  background-color: rgba(255, 255, 255, 0.63);
}

.top-description {
  color: #fff;
  height: 65%;
  width: 47%;
  position: relative;
}

.top-description__title {
  font-size: 3.8125rem;
  line-height: 0.9;
  margin-bottom: 0.5625rem;
  padding-right: 3rem;
}

.top-description__text {
  font-size: 1.0625rem;
  line-height: 1.7;
}

.top-description__btn {
  bottom: 1rem;
  left: 0.3125rem;
  font-size: 1.6875rem;
  padding: 0.1875rem 1.5rem;
  border: 3px solid #fff;
  background-color: #3bc7b8;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.3125rem;
  line-height: 1.8;
}

.list__item {
  display: inline-block;
}

.list__item::after {
  content: "|";
  margin-left: 0.9rem;
}

.list__item:last-child::after {
  content: none;
}

.list__link:hover {
  text-shadow: 1px 1px 4px #000, 0 0 1em #3cc3b5;
}

.top-menu {
  background: #4CCFC1;
}

.navbar {
  width: 100%;
}

.btn-navbar {
  border: 1px solid #a1a1a1;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 0.2rem;
          border-radius: 0.2rem;
}

.btn-navbar:hover, .btn-navbar:focus {
  -webkit-box-shadow: 1px 1px 2px #363434, 0 0 1em #3cc3b5;
          box-shadow: 1px 1px 2px #363434, 0 0 1em #3cc3b5;
  border: 1px solid #3cc3b5;
  outline-color: #3cc3b5;
}

.btn-navbar__title {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.btn-navbar__line {
  display: block;
  width: 25px;
  height: 2px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background: #a1a1a1;
  margin-bottom: 3px;
}

.btn-navbar__line:last-child {
  margin-bottom: 0;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.3125rem;
  line-height: 1.8;
}

.list__item {
  display: inline-block;
}

.list__item::after {
  content: "|";
  margin-left: 0.9rem;
}

.list__item:last-child::after {
  content: none;
}

.list__link:hover {
  text-shadow: 1px 1px 4px #000, 0 0 1em #3cc3b5;
}

.navbar {
  width: 100%;
}

.navbar__btn {
  text-align: right;
  margin: 0.5rem 0;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .top-description {
    height: 80%;
  }
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 95%;
  }
  .row {
    max-width: 900px;
  }
  .featured-products__gallery {
    padding: 0;
  }
  .featured-products__btn {
    bottom: 35px;
    right: 35px;
    text-align: center;
    padding: 0.5125rem .6875rem;
  }
}

@media only screen and (max-width: 950px) {
  .row {
    max-width: 90%;
  }
  .navbar {
    position: relative;
  }
  .navbar__btn {
    display: block;
  }
  .list {
    display: none;
  }
  .list_open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .list_open + .btn-navbar__line {
    display: none;
  }
  .list__item::after {
    content: none;
  }
  .list__link {
    padding: 0.3rem 1rem;
    display: block;
    text-align: center;
  }
  .list__link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .top-slider__item {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  .top-description__title {
    font-size: 3rem;
  }
  .top-description__text {
    font-size: 1rem;
  }
  .row__title {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .featured-products__item {
    border-bottom: none;
  }
  .featured-products__price {
    display: block;
    margin: 0 auto 3rem;
    text-align: center;
  }
  .featured-products__btn {
    bottom: 2px;
    right: 2px;
    left: 2px;
    text-align: center;
    padding: 0.5125rem .6875rem;
  }
  .row__title {
    padding: 0 2.5625rem;
  }
}

@media only screen and (max-width: 800px) {
  .top-slider__item {
    width: 90%;
  }
  .row__title {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    line-height: 1.5;
  }
  .search__form {
    padding: 0;
    width: 21rem;
  }
  .top-slider__picture {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
  .top-slider__description {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
  .brand-slider__description {
    width: 35%;
  }
  .brand-slider__btn {
    left: 2px;
    right: 2px;
    bottom: 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 710px) {
  .top-slider__picture {
    width: 50%;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .top-slider__description {
    width: 40%;
  }
  .featured-products {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .featured-products__item {
    margin-bottom: 1.5rem;
  }
  .footer__sale, .footer__mens, .footer__women, .footer__links {
    padding: 0;
  }
  .copyright__text {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 650px) {
  .header {
    max-height: none;
    padding-bottom: 0.8rem;
  }
  .logo,
  .search,
  .basket,
  .sale,
  .mens,
  .women,
  .links,
  .featured-products__item {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .search {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: auto;
  }
  .search__form {
    width: 100%;
  }
  .list_open {
    width: 70%;
  }
  .top-slider__picture {
    width: 100%;
  }
  .top-description__title {
    font-size: 2.5rem;
  }
  .top-description__text {
    font-size: 0.9rem;
  }
  .featured-products__item,
  .sale,
  .mens,
  .women,
  .links {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
}

@media only screen and (max-width: 550px) {
  .top-slider__picture {
    height: 70%;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: top left;
  }
  .featured-products__item {
    -webkit-flex-basis: 47%;
        -ms-flex-preferred-size: 47%;
            flex-basis: 47%;
  }
}

@media only screen and (max-width: 480px) {
  .top-slider__description {
    margin-left: 1rem;
  }
  .featured-products__item {
    -webkit-flex-basis: 65%;
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%;
  }
  .brand-slider__btn,
  .featured-products__btn {
    font-size: 1.5rem;
  }
  .footer-block {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .top-description__title {
    font-size: 2.2rem;
  }
  .top-description__text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .top-description__btn {
    font-size: 1.5rem;
    padding: .1rem 1rem;
  }
  .featured-products__item {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
  }
}

@media only screen and (max-width: 350px) {
  .sale,
  .mens,
  .women,
  .links {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .copyright__text {
    font-size: 0.5rem;
  }
}
