include ./../b-section-header/_b-section-header
include b-menu-features/_b-menu-features

mixin s-features()
  +b.SECTION.features
    +e.container.container
      +section-header({
        title: 'feature products', 
        text: 'Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.'})
      
      +e.row.row-features
        +menu-features()

        +e.gallery.gallery-features__
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")
          +e.A.item.ibg(href="#"): img(src="http://fakeimg.pl/300x300?text=300x300" alt="img")