<section class="features">
  <div class="features__container container">
    @@include('./../b-section-header/_b-section-header.html',{
    'section': 'features',
    })

    <div class="features__row row-features">
      <div class="features__menu menu-features">
        <span class="menu-features__mini-hedear">all</span>
        <nav class="menu-features__body">
          <ul class="menu-features__list">
            <li class="menu-features__item"><a class="menu-features__link" href="#">all</a></li>
            <li class="menu-features__item"><a class="menu-features__link" href="#">print template</a></li>
            <li class="menu-features__item"><a class="menu-features__link" href="#">web template</a></li>
            <li class="menu-features__item"><a class="menu-features__link" href="#">user interface</a></li>
            <li class="menu-features__item"><a class="menu-features__link" href="#">mock-up</a></li>
          </ul>
        </nav>
      </div>

      <div class="features__gallery gallery-features">
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/400x300/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/300x500/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/300x300/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/600x700/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/300x300/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/300x300/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/200x400/F5F0DD" alt="img" />
        </a>
        <a class="gallery-features__item ibg" href="#">
          <img src="http://fakeimg.pl/300x300/F5F0DD" alt="img" />
        </a>
      </div>
    </div>
  </div>
</section>