doctype html
html(lang='en')
	include ../blocks/head/head
	body.page
		// ================== HEADER ========================
		include ../blocks/header/header
		// ================== MENU ==========================
		include ../blocks/menu/menu
		// ================== TOP-CAROUSEL ==================
		include ../blocks/top-carousel/top-carousel
		// ================== BRAND-CAROUSEL ================
		include ../blocks/brand-carousel/brand-carousel
		// ================== FEATURED PRODUCTS =============
		include ../blocks/featured-products/featured-products
		// ================== FOOTER ========================
		include ../blocks/footer/footer
		// ================== COPYRIGHT =====================
		include ../blocks/copyright/copyright
		// ================== БЛОК СКРИПТОВ =================
		.hidden
		//if lt IE 9
			script(src='libs/html5shiv/es5-shim.min.js')
			script(src='libs/html5shiv/html5shiv.min.js')
			script(src='libs/html5shiv/html5shiv-printshiv.min.js')
			script(src='libs/respond/respond.min.js')
		//- //
			jQuery (necessary for Bootstrap's JavaScript plugins)
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		//- //
			Include all compiled plugins (below), or include individual files as needed
		//- // <script src="js/bootstrap.min.js"></script>	
		//- script(src="materials/OwlCarousel/owl.carousel.min.js")
		script(src="assets/js/vendor.min.js")
		script(src="assets/js/common.min.js")
