mixin contact()
	+b.SECTION.contact
		+b.DIV.container
			+b.DIV.description
				+e.H2.title get in touch
				+e.text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
		+b.DIV.wrapper
			+b.DIV.container
				+b.FORM(action="#" method="post").contact-form
					+e.INPUT(type="name" name="name" id="name" placeholder="Name").input-name
					+e.INPUT(type="email" name="email" id="cont-email" placeholder="Your Mail").input-email
					+e.TEXTAREA(name="message" id="message" rows="6" placeholder="Type your message").message
					+e.BUTTON(type="submit").button Send message
			+b.DIV.contact-info
				+e.DIV.filling
					+e.H4.title contact info
					+e.P.address Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh
					+e.P.mail redwan@deviserweb.com
					+e.P.tel (+88) 017 617 46373