mixin s-main()
	+b.SECTION.s-main
		//- +e.IMG(src="images/bg-main.jpg" alt="bg-main")
		+b-header()
		+b.DIV.container
			+b.DIV.section-content
				+e.H3.h3 SOCIAL MARKETING & ANALYTICS
				+e.H1.h1 Pricing Table
				+e.P.title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
				+b.A.arrow-down(href="#")
					+e.IMG.img(src="images/arrow-down.png" alt="arrow-down")