@import "../vendor/bourbon/core/bourbon";

html {
	font-size: 100%;
}

.page {
	max-width: 1280px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row {
	max-width: 980px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #FFF;
}
.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
