@import "../vendor/bourbon/core/bourbon";

/* =========================== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body,
ul,
li,
p,
h1,
h2,
h3,
a {
	margin: 0;
	padding: 0;
}
