.offers {
  padding: 130px 0px 140px 0px;
  background-color: $bg-color;
  text-align: center;

  @media (max-width:$md4+px) {
    padding: 60px 0px 70px 0px;

  }

  // .offers__container
  &__container {}

  // .offers__title
  &__title {
    font-size: 42px;
    line-height: calc(60 / 42);
    color: #fff;
    margin: 0px 0px 25px 0px;

    @media (max-width:$md4+px) {
      font-size: 28px;
    }
  }

  // .offers__text
  &__text {
    font-size: 16px;
    line-height: calc(28 / 16);
    color: #fff;
    margin: 0px 0px 60px 0px;

    @media (max-width:$md4+px) {
      margin: 0px 0px 30px 0px;
      font-size: 14px;
    }
  }

  // .offers__form
  &__form {}
}

.form-offers {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;

  @media (max-width:$md3+px) {
    width: 80%;
  }

  @media (max-width: 640px) {
    width: 90%;
  }

  @media (max-width: 540px) {
    width: 100%;
  }

  @media (max-width:$md4+px) {
    flex-wrap: wrap;
  }

  // .form-offers__input
  &__input {
    padding: 29px 35px;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: left;
    flex: 1 1 auto;
    margin: 0px 22px 0px 0px;
    border-radius: 5px;
    color: #000;

    @media (max-width:$md3+px) {
      padding: 20px 30px;

    }

    @media (max-width: 640px) {
      padding: 15px 25px;

    }

    @media (max-width: 540px) {
      padding: 10px 20px;

    }

    @media (max-width:$md4+px) {
      margin: 0px 0px 20px 0px;
      flex: 1 1 100%;
    }

    &[placeholder] {
      letter-spacing: 0.03em;
      color: #2c2c2c;
    }
  }


  // .form-offers__btn
  &__btn {
    padding: 0px 5px/60px*100%;
    display: inline-flex;
    align-items: center;

    @media (max-width:$md2+px) {
      @include fluidFontSize(14px, 18px, $md4*1px, $md2*1px, 14px);
      // width: 80%;
    }

    @media (max-width:$md4+px) {
      padding: 20px 65px;
    }
  }
}