<section class="offers">
  <div class="offers__container container">
    <h2 class="offers__title">Design tips, tricks, and freebies. Delivered weekly.</h2>
    <div class="offers__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.</div>
    <form class="offers__form form-offers" action="#">
      <input class="form-offers__input" type="text" value="" placeholder="Email Address...">
      <a href="#" class="form-offers__btn btn">SUBSCRIBE</a>
    </form>
  </div>
</section>