.section-header {
  text-align: center;

  &:after {
    content: '';
    width: 132px;
    display: block;
    margin: 0 auto;
    height: 3px;
    background-color: $main-color;
  }

  // .section-header__title
  &__title {
    @include fluidFontSize(24px, 42px, 640px, $maxW, 24px);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
  }

  // .section-header__text
  &__text {
    @include fluidFontSize(14px, 16px, 640px, $maxW, 14px);
    font-weight: 400;
    line-height: calc(24 / 16);
    margin: 0px 0px 30px 0px;
  }
}