<header class="header">
  <div class="header__container container">

    @@include('./../b-menu/_menu.html',{
    'section': 'header'
    })

    <div class="header__row row-header">
      <div class="header__column column-header">
        <h1 class="header__title">our strong organaisation </h1>
        <p class="header__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor
          incididunt ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt. </p><a
          class="header__btn btn" href="#">Contact Us</a>
      </div>

      <div class="header__column column-header">
        <div class="header__video video"></div>
      </div>
    </div>
  </div>
</header>