/* Base colors */ 
$btn-color: #91c82c;
$btn-shadow: #76ae0c;

$btn-text-shadow: #578f22;

$icons-color: #18a7d0;

$comment-border-color: #3eb7b7;
$form-border-color: #21a3af;

$bg-light: #fcfcf6;
$bg-dark: #f8f8f0;

// $slick-font-path: "./fonts/slick/" !default;
