section.slider.flexible
   .slider__background
      .slider__description.description
         h1.description__title
            span.betony e
            |aten berry
         p.description__slogan and go for a walk
         h2.description__text Today good weather...
         p.description__lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               
            
