mixin menu(data)
	+b.NAV.navbar
		//- Кнопка для адаптиного меню
		+b.DIV.btn-close
			+b.INPUT(id="menu" name="toggle" type="checkbox").input.toggleMenu
			+b.LABEL(for="menu").label.toggleMenu
				+e.I.icon.icon-menu
				|МЕНЮ
			
		//- Главное меню
		+b.UL.menu
			each Item in data
				+e.LI.item
					+e.A(href= Item.link).link #{Item.title}

mixin top-menu()
	- 
		dataMenu = [
			{"title": "home",       "link": "#"},
			{"title": "portfolio",  "link": "#"},
			{"title": "about us",   "link": "#"},
			{"title": "contact",    "link": "#"}
		]
	+b.top-menu
		+menu(dataMenu)
		
