.top-menu {
	width: 100%;
	.navbar {
		background-color: $dark-color;
	}

	.btn-close {
		// display: flex;
		color: #e0e0e0;

		.input {
			width: 100%;
			
		}
		.label {
			width: 100%;

			// width: 50px;
			// height: 50px;
			// &__line {
			// 	&:after {
			// 		display: block;
			// 		content: "";
			// 		width: 30px;
			// 		height: 3px;
			// 		background: darken($dark-color, 10%);
			// 		margin-bottom: 5px;
			// 	}
			// }
			// &__inscription {
			// 	float: right;
			// }
		}
	}

	.menu {
		// width: 38%;
		// margin: auto 25% auto 28.7%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__item {
			&:hover {
				background-color: $active-color;
				box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
			}
		}
		&__link {
			padding: 0 30px;
			width: 100%;
			height: 100%;
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14px;
			font-weight: bold;
			line-height: 6.4;
			letter-spacing: 0.5px;
			color: #e0e0e0;
		}
	}
}
