.slide {
	margin-bottom: 1.85rem;
	width: 22.15%;
	background-image: linear-gradient(to top, #000 -10%, #fff 3%);
	
	border: 1px solid rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
	padding:7px;
}
