mixin b-menu()
  .burger-wrap
    .icon-menu
      span
      span
      span
    //- A.logo
      img(src="./img/" alt="logo")
  +e.menu.menu__
    +e.NAV.body
      +e.UL.list
        +e.LI.item: +e.A.link(href="#") home
        +e.LI.item: +e.A.link(href="#") portfolio
        +e.LI.item: +e.A.link(href="#") about us
        +e.LI.item: +e.A.link(href="#") contact
