<div class="burger-wrap">
  <div class="icon-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="@@section__menu menu">
  <nav class="menu__body">
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link" href="#">home</a> </li>
      <li class="menu__item"><a class="menu__link" href="#">portfolio</a> </li>
      <li class="menu__item"><a class="menu__link" href="#">about us</a> </li>
      <li class="menu__item"><a class="menu__link" href="#">contact</a> </li>
    </ul>
  </nav>
</div>