include ./../b-section-header/_b-section-header

mixin s-team()
  +b.SECTION.team
    +e.container.container
      +section-header({
        title: 'Meet our team', 
        text: 'Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.'})
      +e.slider-team.team-slider
        +e.row.row-team
          +e.column.column
            +e.photo.ibg(data-move='person, 0, 767'): img(src='http://fakeimg.pl/320x460/F5F0DD?text=Photo')
          +e.column.column.person__
            //- +e.person
            +e.info
              +e.H3.name mark waugh
              +e.P.desc Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
              +e.contacts.contacts-person__
                +e.link.icon-facebook-squared(href='#'): span Facebook
                +e.link.icon-dribbble(href='#'): span Dribbble
                +e.link.icon-behance-squared(href='#'): span Behance
                +e.link.icon-twitter-squared(href='#'): span Twiter
            +e.works.works-person__(data-move='row-team, 2, 767')
              +e.A.item.ibg(href="#")
                img(src="http://fakeimg.pl/300x200/F5F0DD")
                span SOKINA JUE
              +e.A.item.ibg(href="#")
                img(src="http://fakeimg.pl/200x200/F5F0DD")
                span SOKINA JUE
              +e.A.item.ibg(href="#")
                img(src="http://fakeimg.pl/100x400/F5F0DD")
                span SOKINA JUE
              +e.A.item.ibg(href="#")
                img(src="http://fakeimg.pl/200x200/F5F0DD")
                span SOKINA JUE