.team {
  padding: 0px 0px 110px 0px;

  @media (max-width:$md4+px) {
    padding: 0px 0px 55px 0px;
  }

  // .team__container
  &__container {}

  // .team__header
  &__header {
    text-align: left;
    max-width: 500px;
    margin: 0px 0px 70px 0px;

    @media (max-width:$md3+px) {
      text-align: center;
      margin: 0 auto 70px;
    }

    @media (max-width:$md4+px) {
      text-align: center;
      margin: 0 auto 30px;
    }

    &:after {
      margin: initial;

      @media (max-width:$md3+px) {
        margin: 0 auto;
      }
    }

    .section-header__text {
      text-align: initial;

      @media (max-width:$md3+px) {
        text-align: center;
      }
    }
  }

  // .team__slider-team
  &__slider-team {}

  // .team__row
  &__row {
    display: flex;

    @media (max-width:$md3+px) {
      flex-direction: column;
    }
  }

  // .team__column
  &__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

    @media (max-width:$md3+px) {
      flex-direction: row;
      margin: 0px 0px 25px 0px;
    }

    @media (max-width:$md4+px) {
      flex-direction: column;
    }

    &:first-child {
      flex: 0 0 25%;
      margin: 0px 6% 0px 0px;

      @media (max-width:$md3+px) {
        display: none;
      }
    }
  }

  // .team__photo
  &__photo {
    // width: 100%;
    flex: 1 1 auto;
    // height: auto;

    @media (max-width:$md3+px) {
      // max-width: 25%;
      // min-width: 130px;
      flex: 0 0 24%;
      margin: 0px 35px 0px 0px;
    }

    @media (max-width:$md4+px) {
      margin: 0 auto 30px;
      width: 60%;
      min-height: 50vw;
      flex: 1 1 auto;
    }
  }

  // .team__person
  &__person {}
}

.row-team {}

.team-slider {}


.person {

  // .person__info
  &__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 70%;
    // margin: 0px 0px 65px 0px;

    @media (max-width: 1040px) {
      // margin: 0px 0px 35px 0px;
    }

    @media (max-width: 880px) {
      width: 100%;
    }

    @media (max-width:$md3+px) {
      margin: 0;
    }

    @media (max-width: 370px) {
      line-height: .7;
      font-size: 13px;
    }
  }

  // .person__name
  &__name {
    @include fluidFontSize(24px, 30px, 640px, $maxW, 24px);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 6% 0px;

    @media (max-width: 880px) {
      margin: 0px 0px 3% 0px;
    }

    @media (max-width:$md3+px) {
      margin: 0px 0px 6% 0px;
      @include fluidFontSize(18px, 30px, 320px, 768px, 18px);
      // font-size: 30px;
    }

    @media (max-width:$md4+px) {
      text-align: center;
    }
  }

  // .person__desc
  &__desc {
    font-weight: 400;
    line-height: calc(28 / 16);
    flex: 1 1 auto;

  }

  // .person__contacts
  &__contacts {
    margin: 7% 0px 11% 0px;

    @media (max-width:$md4+px) {
      margin: 7% 0px 0px 0px;
    }
  }

  // .person__works
  &__works {}
}

@import './b-contacts-person';
@import './b-works-person';