.team {
  padding: 0px 0px 110px 0px;

  // .team__container
  &__container {}

  // .team__header
  &__header {
    text-align-last: left;
    width: 40%;
    margin: 0px 0px 70px 0px;

    &:after {
      content: '';
      width: 132px;
      display: block;
      margin: initial;
      height: 3px;
      background-color: $main-color;
    }

    .section-header__text {
      text-align: initial;
    }
  }

  // .team__slider-team
  &__slider-team {}

  // .team__row
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  // .team__column
  &__column {
    &:first-child {
      flex: 1 1 25%;
      margin: 0px 75px 0px 0px;
    }
  }

  // .team__photo
  &__photo {
    width: 100%;
    height: 100%;
  }

  // .team__person
  &__person {}
}

.row-team {}

.team-slider {}


.person {

  // .person__info
  &__info {
    width: 50%;
    margin: 0px 0px 65px 0px;
  }

  // .person__name
  &__name {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 35px 0px;
  }

  // .person__desc
  &__desc {
    // font-size: 16px;
    font-weight: 400;
    line-height: calc(28 / 16);
    margin: 0px 0px 45px 0px;
  }

  // .person__contacts
  &__contacts {}

  // .person__works
  &__works {}
}

.contacts-person {

  // .contacts-person__link
  &__link {
    font-size: 18px;
    line-height: calc(24 / 18);
    font-style: italic;
    color: #000000;
    margin: 0px 30px 0px 0px;

    &:hover {
      text-decoration: underline;
      color: $main-color;
    }
  }
}

.works-person {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  // .works-person__item
  &__item {
    flex: 0 1 24%;
    height: 200px;
  }
}