extend template

block header
	+header()

block amenities
	+amenities()

block products
	+products()
	
block teams
	+teams()
	
block subscribe
	+subscribe()

block contact
	+contact()
	
block footer
	+footer()
	
