-
  itemList = [
    {t:'all', l:'#'},
    {t:'print template', l:'#'},
    {t:'web template', l:'#'},
    {t:'user interface', l:'#'},
    {t:'mock-up', l:'#'},
  ]

mixin menu-features()
  +e.menu.menu-features__
    +e.SPAN.mini-hedear all
    +e.NAV.body
      +e.UL.list
        for item in itemList
          - let classLink = 'link'
          if item.a 
            - classLink += '_active'
          +e.LI.item: +e.A(class=classLink href=item.l)=item.t