.header {
	padding-top: 29px;
	margin-bottom: 102px;
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 93px;
		.description {
			flex-basis: 47%;
			margin-bottom: 134px;
			&:after {
				content: none;
			}
			&__title {
				font-size: 60px;
				line-height: 1.2;
				letter-spacing: 6px;
				margin-bottom: 17px;
				color: #000000;
			}
			&__text {
				color: rgba(0, 0, 0, 0.7);
				margin-bottom: 64px;
			}
			.btn {
				background-color: $active-color;
				color: #fff;
				padding: 15.5px 64px;
			}
		}
		.relation{
			flex-basis: 44%;
			position: relative;
			&__offset {
				height: 0;
				padding-top: 66.6%;
			}
			&__content {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 10px;
				left: 0;
			}
			&__video {
				padding-top: 10px;
				position: relative;
				box-shadow: 0 0 30px 5px rgba(0,0,0,0.4);
				width: 100%;
				height: 72.6%;
				min-width: 300px;
				min-height: 228px;
				background-color: #c4c0b1;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					cursor: pointer;
				}
				iframe {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
