@charset "UTF-8";

/*
  ! ОТЗЫВЧИВЫЙ РАЗМЕР ШРИФТА
  * https: //habr.com/ru/post/310186/

  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
  font-size: calc((100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
*/

.fluid-font-size {
  font-size: 16px;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.fluid-font-size {
  /* ==== ОТЗЫВЧИВЫЙ ШРИФТ ==== */
  font-size: 14px;
}

body {
  color: #000000;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "OpenSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "OpenSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
  border-radius: 5px;
  background-color: #FF2D2D;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 63px;
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.btn:hover:before {
  content: '';
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn_border {
  background-color: transparent;
  color: #FF2D2D;
  border: 2px solid #ff0000;
}

.btn_border:hover:before {
  content: '';
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.3);
}

.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}

.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}

.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}

.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}

.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}

.select .select-options__value:hover {
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}

.check input {
  display: none;
}

.check:before {
  content: '';
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}

.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.option:last-child {
  margin-bottom: 0px;
}

.option input {
  display: none;
}

.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: '';
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}

.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}

.quantity__btn:hover:before {
  color: #da0005;
}

.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}

.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}

.category-params-item-price-table .cell:first-child:after {
  content: '-';
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}

.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}

.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}

.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}

.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}

.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}

.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}

.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.menu {
  background-color: #313030;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  padding: 40px 25px 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #e0e0e0;
  font-weight: 700;
  line-height: calc(24 / 14);
  text-transform: uppercase;
  letter-spacing: 0.49px;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.menu__link_active,
.menu__link:hover,
.menu__link:focus {
  background-color: #FF2D2D;
}

.burger-wrap {
  display: none;
}

.header {
  padding: 30px 0px 110px 0px;
  background-color: #F6F2F2;
}

.header__menu {
  margin: 0px 0px 108px 0px;
}

.header__container {
  overflow: hidden;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__column {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 20px;
}

.header__title {
  font-size: 24px;
  font-weight: 800;
  line-height: calc(72 / 60);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0px 0px 5.6% 0px;
}

.header__text {
  opacity: 0.7;
  font-size: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(28 / 16);
  margin: 0px 0px 9.6% 0px;
}

.video {
  height: 0;
  padding-top: 60%;
  background-color: #C4C0B1;
  position: relative;
  -webkit-box-shadow: 7px 7px 20px 5px rgba(0, 0, 0, 0.2), -7px -7px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 7px 20px 5px rgba(0, 0, 0, 0.2), -7px -7px 20px 5px rgba(0, 0, 0, 0.2);
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #ff2d2d;
  border-radius: 3px;
  z-index: 1;
}

.video:before,
.video:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.video:before {
  content: '';
  width: 70px;
  height: 70px;
  border: 7px solid #F3F2EF;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video:after {
  content: '';
  border: 18px solid transparent;
  border-left: 30px solid #F3F2EF;
  -webkit-transform: translate(-25%, -50%);
      -ms-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.services {
  padding: 115px 0px 110px 0px;
}

.services__container {
  overflow: hidden;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__column {
  width: 50%;
  padding: 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.services__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__title {
  font-size: 42px;
  font-weight: 600;
  line-height: calc(55 / 42);
  text-transform: uppercase;
  letter-spacing: 0.42px;
  margin: 0px 0px 50px 0px;
}

.services__text {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(28 / 16);
  margin: 0px 0px 60px 0px;
}

.services__item {
  width: 45%;
  margin: 0px 0px 50px 0px;
}

.item-services__ico {
  margin: 0px 0px 30px 0px;
}

.item-services__title {
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 15px 0px;
}

.item-services__text {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(28 / 16);
}

.hidden {
  display: none;
}

@media (min-width: 320px) {
  .fluid-font-size {
    font-size: 18px;
    font-size: calc(0.03656 * 100vw + 2.30108px);
  }

  .header__title {
    font-size: 24px;
    font-size: calc(0.03871 * 100vw + 11.6129px);
  }
}

@media (min-width: 480px) {
  .fluid-font-size {
    font-size: 18px;
    font-size: calc(0.01 * 100vw + 11.2px);
  }
}

@media (min-width: 767.98px) {
  .header__text {
    font-size: 14px;
    font-size: calc(0.00415 * 100vw + 10.81349px);
  }
}

@media (min-width: 1250px) {
  .fluid-font-size {
    font-size: 48px;
  }

  .header__title {
    font-size: 60px;
  }

  .header__text {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .fluid-font-size {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  body._lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    padding: 0 10px;
  }

  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .menu__body {
    background-color: #313030fa;
    position: fixed;
    width: 0%;
    height: 0%;
    right: 0;
    top: 0;
    text-align: center;
    padding: 75px 0 20px 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body:after {
    content: "";
    background-color: #313030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .menu__body_active {
    opacity: 1;
    width: 50%;
    height: 100%;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    display: block;
    padding: 10px 0;
    font-size: 21px;
  }

  .burger-wrap {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 15px 30px 30px;
    z-index: 5;
    background-color: #FF2D2D;
    border-bottom-left-radius: 100%;
  }

  .icon-menu {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .icon-menu span {
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu_active span:first-child {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: calc(50% - 1px);
  }

  .icon-menu_active span:last-child {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: calc(50% - 1px);
  }

  .icon-menu_active span:nth-child(2) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    margin: 0px 0px 30px 0px;
  }

  .header__row {
    margin: 0;
  }

  .header__column {
    width: 70%;
    padding: 0 0.96%;
    margin: 0px auto 60px;
  }

  .header__text {
    margin: 0px 0px 3.2% 0px;
  }

  .services__row {
    margin: 0;
  }
}

.webp .check.active:before{ background: url(../img/icons/check.webp) center no-repeat; }

.webp .option.active:before{ background: url(../img/icons/option.webp) center no-repeat; }