.header {
	border: 1px solid #bfbfbf;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
	.container {
		@include to(768px){
			justify-content: space-between;
			padding: 10px 0;
		};
	}
}
