mixin b-menu-header()
  +b.NAV.__menu.menu-header__
    +e.UL.list
      +e.LI.item: +e.A.link(href="#") home
      +e.LI.item: +e.A.link(href="#") portfolio
      +e.LI.item: +e.A.link(href="#") about us
      +e.LI.item: +e.A.link(href="#") contact
