.search
   form.search__form(name="search__form"  action="#" method="post" enctype="multipart/from-data")
      input.search__field(type="text" name="search__field" placeholder="Search...")
      button.search__btn(type="button")
