.search {

   @include size-sm(12);
   @include sm(text-align, center);
   @include sm(margin, 12px auto);

   margin: 7px;
   min-width: 244px;
   &__form {
      display: flex;
      justify-content: space-between;
   }
   &__field {
      flex-grow: 1;
      font-size: 14px;
      color: #5b636e;
      background-color: #24272d;
      border: 1px solid #875f66;
      border-radius: 5px;
      box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25);
      padding: 8px 9px;
      &:focus,
      &:active {
         outline-color: rgba(#79414b, 0.65);
      }
   }
   &__btn {
      background: url('../images/icon/magnifier.png') #ae4b5d no-repeat center;
      border-radius: 5px;
      width: 36px;
      height: 34px;
      border: none;
      margin-left: 11px;
      cursor: pointer;
      &:focus,
      &:active,
      &:hover {
         outline-color: #79414b;
         box-shadow: 0 0 2px 3px #5b636e, 0 0 1em #ae4b5d;
      }
   }
}
