mixin slide(imageName)
	.slide
		.slide__frame.frame
			img.frame__picture(src="assets/images/" + imageName + ".jpg" alt="#")
			.frame__overlay
				img.frame__magnifier(src="assets/images/icon/magnifier.png" alt="#")
			p.frame__date 10/08/ 2010
		.slide__description.description
			p.description__text Lorem Ipsum is simply
			i.fontello-icon.description__ico.icon-star-circled
		.slide__share.share
			p.share__text Share
			.share__social
				a.share__link(href="#")
					i.fontello-icon.icon-twitter
				a.share__link(href="#")
					i.fontello-icon.icon-facebook
				a.share__link(href="#")
					i.fontello-icon.icon-pinterest
				a.share__link(href="#")
					i.fontello-icon.icon-tumblr