-
	DataCard = [
		{
			'img'      :   '01.jpg', 
			'download' :   '10',
			'like'     :   '130',
			'url'      :   '#', 
			'linkTitle':   'Latest Free PSD', 
			'date'     :   'February 11, 2014', 
			'desc'     :   'Simply dummy text of the printing and typesetting industry...'
		},
		{
			"img"      :   "02.jpg", 
			'download' :   '1',
			'like'     :   '30',
			"url"      :   "#", 
			"linkTitle":   "Colourful volume knob ", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "03.jpg", 
			'download' :   '18',
			'like'     :   '100',
			"url"      :   "#", 
			"linkTitle":   "Dropdown Menu", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "04.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Flatties Vol 20 – If the tile long...", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "05.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Money Counter", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "06.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "If there is no image Preview", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "07.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Micro email client", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "08.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Portfolio gallery", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "09.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Gender switch", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "10.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "UI lava menu", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "11.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Mini Dribbble v-card", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		},
		{
			"img"      :   "12.jpg", 
			'download' :   '10',
			'like'     :   '130',
			"url"      :   "#", 
			"linkTitle":   "Profile box", 
			"date"     :   "February 11, 2014", 
			"desc"     :   "Simply dummy text of the printing and typesetting industry..."
		}
	]
mixin gallery()
	+b.SECTION.gallery
		+b.wrapper
			+b.container
				include ../mixins/mixins
				+element(DataCard)
