<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row row-footer">
      <div class="footer__column column-footer">
        <div class="footer__copyright">© Copyright @Junaed 2016, All rights reserved.</div>
      </div>

      <div class="footer__column column-footer">
        <div class="footer__contact contact-footer">
          <a href="#" class="contact-footer__link"><span></span></a>
          <a href="#" class="contact-footer__link"><span></span></a>
          <a href="#" class="contact-footer__link"><span></span></a>
          <a href="#" class="contact-footer__link"><span></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>