mixin menu(data)
	+b.NAV.navbar
		+b.UL.menu
			each Item in data
				+e.LI.item
					+e.A(href= Item.link).link #{Item.title}

mixin gallery(data)
	+b.DIV.gallery
		each Item in data
			+e.DIV.item
				+e.A(href= Item.link).link
					+e.IMG(src="" + Item.img, alt= Item.alt).img

mixin products()
	- 
		dataMenu = [
			{"title": "all",              "link": "#"},
			{"title": "print template",   "link": "#"},
			{"title": "web template",     "link": "#"},
			{"title": "user interface",   "link": "#"},
			{"title": "mock-up",          "link": "#"}
		]
	-
		dataGallery = [
			{"img": "https://picsum.photos/297/290?random", "alt": "01", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "02", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "03", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "04", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "05", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "06", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "07", "link": "#"},
			{"img": "https://picsum.photos/297/290?random", "alt": "08", "link": "#"}
		]
	+b.SECTION.products
		+b.DIV.container
			+b.DIV.description
				+e.H2.title feature products
				+e.text Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.
			+b.DIV.menu-products
				+menu(dataMenu)
			+gallery(dataGallery)
