section.footer
   .flexible
      .footer-item
         h2.footer-item__headline
            span.betony C
            |HERRY Hours
         p.footer-item__working-hours We are open 24/7
         ul.footer-item__list_icon
            li Nights! Absolutely No Extra Charge
            li Weekends! Absolutely No Extra Charge
            li Holidays! Absolutely No Extra Charge

      .footer-item
         h2.footer-item__headline Local 
            span.betony C
            |HERRY
         ul.footer-item__list_contacts
            li West Hollywood (323) 221-1107
            li Beverly Hills (310) 202-5428
            li Pasadena (626) 296-2664
            li West Hills (805) 531-5083
            li Los Angeles (213) 389-4381
         p.footer-item__free-tel Call Us Toll Free 1-800-287-0919

      .footer-item
         h2.footer-item__headline Our Los Angeles Location
         ul.footer-item__list_contact-person
            li Steve Smith
            li Hi-Tech Cherry Company
            li 
               a.footer-item__list_link(href="#") info@cherrycompany.com
            li 5104 W. Washington Blvd
            li Los Angeles , CA , 90016 United States
            li (800) 287-0919
            
