head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	
	// ============== АДАПТАЦИЯ К РАЗЛИЧНЫМ УСТРОЙСТВАМ ===
	meta(name='viewport', content='width=device-width, initial-scale=1')
	
	//- // =========== ВНЕШНИЕ БИБИЛИОТЕКИ =================
	//- link(rel='stylesheet', href='assets/css/vendor.min.css')

	//- // =========== СБРОС СТИЛЕЙ ========================
	//- link(rel='stylesheet', href='assets/css/reset.css')

	// ============== ТАБЛИЦЫ СТИЛЕЙ ===================
	link(rel='stylesheet', href='assets/css/common.min.css')

	//- // =========== ШРИФТЫ ==============================
	//- link(rel='stylesheet', href='assets/css/fonts.css')

	//- // =========== НАСТРОЙКИ ВНЕШНЕГО ВИДА =============
	//- // <link rel="stylesheet" href="css/skins/appearance.css" />
	
	//- // =========== МЕДИАЗАПРОСЫ ========================
	//- link(rel='stylesheet', href='assets/css/media.css')
	
	// =========== FAVICON =============================
	link(rel="shortcut icon" href="assets/images/icon/favicon.png" type="image/x-icon")
	
	//- // =========== МОДУЛИ ==============================
	//- // <link rel="stylesheet" type="text/css" href="vendor/bootstrap-3.3.7/bootstrap.min.css">
	//- // <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
	//- link(rel='stylesheet', href='vendor/fontello/css/fontello.css')
	//- //
		и другие модули, расположенные заранее в библиотеке vendor.
		Например, эффекты паралакс, выпадающие меню и пр.
	title Cherry
