include ../mixins/mixins.pug

block variables

doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      
      // ============== АДАПТАЦИЯ К РАЗЛИЧНЫМ УСТРОЙСТВАМ ===
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // ============== ТАБЛИЦЫ СТИЛЕЙ ======================
      //- link(rel='stylesheet', href='assets/css/common.min.css')
      link(rel='stylesheet', href='css/main.css')
      title #{pageTitle}
   
   body
      block body
      
