// ================== HEADER ==========================
.row
	header.header.header_mod.flexJcSb.flexAiC
		.logo.logo_PosAsize
			a.logo__link.logo__link_mod(href="#")
				span.logo__part.logo__part_mod Photo
				|Cage app
		nav.menu.menu_PosAsize
			ul.list.flexJcSb.flexAiC
				li.list__item
					a.list__link.list__link_mod.list__link_home(href='#') Home
				li.list__item
					a.list__link.list__link_mod.list__link_gallery(href='#') Gallery
				li.list__item
					a.list__link.list__link_mod.list__link_members(href='#') Members
				li.list__item
					a.list__link.list__link_mod.list__link_logout(href='#') Logout