section.footer
	.row
		.flex-container
			.footer-block
				.footer__sale.sale
					h1.sale__title fEATURED sALE
					a.sale__link(href="#") Alexis Hudson
					a.sale__link(href="#") American Apparel
					a.sale__link(href="#") Ben Sherman
					a.sale__link(href="#") Big Buddha
					a.sale__link(href="#") Chanel
					a.sale__link(href="#") Christian Audigier
					a.sale__link(href="#") Coach
					a.sale__link(href="#") Cole Haan

				.footer__mens.mens
					h1.mens__title MENS STORE
					a.mens__link(href="#") Alexis Hudson
					a.mens__link(href="#") American Apparel
					a.mens__link(href="#") Ben Sherman
					a.mens__link(href="#") Big Buddha
					a.mens__link(href="#") Chanel
					a.mens__link(href="#") Christian Audigier
					a.mens__link(href="#") Coach
					a.mens__link(href="#") Cole Haan

				.footer__women.women 
					h1.women__title wOMEN sTORE
					a.women__link(href="#") Alexis Hudson
					a.women__link(href="#") American Apparel
					a.women__link(href="#") Ben Sherman
					a.women__link(href="#") Big Buddha
					a.women__link(href="#") Chanel
					a.women__link(href="#") Christian Audigier
					a.women__link(href="#") Coach
					a.women__link(href="#") Cole Haan

				.footer__links.links
					h1.links__title qUICK LINKS
					a.links__link(href="#") Alexis Hudson
					a.links__link(href="#") American Apparel
					a.links__link(href="#") Ben Sherman
					a.links__link(href="#") Big Buddha
					a.links__link(href="#") Chanel
					a.links__link(href="#") Christian Audigier
					a.links__link(href="#") Coach
					a.links__link(href="#") Cole Haan
